<h1 class="display-4"><%= @place.name %></h1>

<div class="my-4">
  <%= link_to "New Post", new_place_entry_path(@place), class: "btn-custom" %>
</div>

<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-md-4">
      <div class="card border-0">
        <% if entry.image.attached? %>
          <%= image_tag entry.image, class: "img-fluid" %>
        <% else %>
          <%# This SVG is a placeholder to match the wireframe's empty image box %>
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <line x1="0" y1="0" x2="100%" y2="100%" stroke="white" stroke-width="2"/>
            <line x1="100%" y1="0" x2="0" y2="100%" stroke="white" stroke-width="2"/>
          </svg>
        <% end %>

        <div class="card-body px-0">
          <h5 class="card-title fw-bold"><%= entry.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry.occurred_on.strftime("%Y-%m-%d") %></h6>
          <p class="card-text"><%= entry.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>